.panel {
	overflow: hidden;
	text-align: left;
	margin: 0;
	border: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0
}

.panel-header, .panel-body {
	border-width: 1px;
	border-style: solid
}

.panel-header {
	padding: 2px 5px;
	position: relative
}

.panel-title {
	background: url('images/blank.gif') no-repeat
}

.panel-header-noborder {
	border-width: 0 0 1px 0
}

.panel-body {
	overflow: auto;
	border-top-width: 0;
	padding: 0
}

.panel-body-noheader {
	border-top-width: 1px
}

.panel-body-noborder {
	border-width: 0
}

.panel-body-nobottom {
	border-bottom-width: 0
}

.panel-with-icon {
	padding-left: 18px
}

.panel-icon, .panel-tool {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	height: 16px;
	overflow: hidden
}

.panel-icon {
	left: 5px;
	width: 16px
}

.panel-tool {
	right: 5px;
	width: auto
}

.panel-tool a {
	display: inline-block;
	width: 16px;
	height: 16px;
	opacity: .6;
	filter: alpha(opacity = 60);
	margin: 0 0 0 2px;
	vertical-align: top
}

.panel-tool a:hover {
	opacity: 1;
	filter: alpha(opacity = 100);
	background-color: #e6e6e6;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px
}

.panel-loading {
	padding: 11px 0 10px 30px
}

.panel-noscroll {
	overflow: hidden
}

.panel-fit, .panel-fit body {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden
}

.panel-loading {
	background: url('images/loading.gif') no-repeat 10px 10px
}

.panel-header, .panel-body {
	border-color: #d4d4d4
}

.panel-header {
	background-color: #357ca5
}

.panel-body {
	background-color: #fff;
	color: #333;
	font-size: 12px
}

.panel-title {
	font-size: 12px;
	font-weight: bold;
	color: #777;
	height: 16px;
	line-height: 16px
}

.panel-footer {
	border: 1px solid #d4d4d4;
	overflow: hidden;
	background: #f5f5f5
}

.panel-footer-noborder {
	border-width: 1px 0 0 0
}

.window {
	overflow: hidden;
	padding: 5px;
	border-width: 1px;
	border-style: solid
}

.window .window-header {
	background: transparent;
	padding: 0 0 6px 0
}

.window .window-body {
	border-width: 1px;
	border-style: solid;
	border-top-width: 0
}

.window .window-body-noheader {
	border-top-width: 1px
}

.window .panel-body-nobottom {
	border-bottom-width: 0
}

.window .window-header .panel-icon, .window .window-header .panel-tool {
	top: 50%;
	margin-top: -11px
}

.window .window-header .panel-icon {
	left: 1px
}

.window .window-header .panel-tool {
	right: 1px
}

.window .window-header .panel-with-icon {
	padding-left: 18px
}

.window-proxy {
	position: absolute;
	overflow: hidden
}

.window-proxy-mask {
	position: absolute;
	filter: alpha(opacity = 5);
	opacity: .05
}

.window-mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	filter: alpha(opacity = 40);
	opacity: .40;
	font-size: 1px;
	overflow: hidden
}

.window, .window-shadow {
	position: absolute;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px
}

.window-shadow {
	background: #ccc;
	-moz-box-shadow: 2px 2px 3px #ccc;
	-webkit-box-shadow: 2px 2px 3px #ccc;
	box-shadow: 2px 2px 3px #ccc;
	filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2, MakeShadow=false,
		ShadowOpacity=0.2)
}

.window, .window .window-body {
	border-color: #d4d4d4
}

.window {
	background-color: #f2f2f2;
	background: -webkit-linear-gradient(top, #fff 0, #f2f2f2 20%);
	background: -moz-linear-gradient(top, #fff 0, #f2f2f2 20%);
	background: -o-linear-gradient(top, #fff 0, #f2f2f2 20%);
	background: linear-gradient(to bottom, #fff 0, #f2f2f2 20%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,
		endColorstr=#F2F2F2, GradientType=0)
}

.window-proxy {
	border: 1px dashed #d4d4d4
}

.window-proxy-mask, .window-mask {
	background: #ccc
}

.window .panel-footer {
	border: 1px solid #d4d4d4;
	position: relative;
	top: -1px
}

.l-btn {
	text-decoration: none;
	display: inline-block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	cursor: pointer;
	outline: 0;
	text-align: center;
	vertical-align: middle;
	line-height: normal
}

.l-btn-plain {
	border-width: 0;
	padding: 1px
}

.l-btn-left {
	display: inline-block;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	vertical-align: top
}

.l-btn-text {
	display: inline-block;
	vertical-align: top;
	width: auto;
	line-height: 24px;
	font-size: 12px;
	padding: 0;
	margin: 0 4px
}

.l-btn-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	position: absolute;
	top: 50%;
	margin-top: -8px;
	font-size: 1px
}

.l-btn span span .l-btn-empty {
	display: inline-block;
	margin: 0;
	width: 16px;
	height: 24px;
	font-size: 1px;
	vertical-align: top
}

.l-btn span .l-btn-icon-left {
	padding: 0 0 0 20px;
	background-position: left center
}

.l-btn span .l-btn-icon-right {
	padding: 0 20px 0 0;
	background-position: right center
}

.l-btn-icon-left .l-btn-text {
	margin: 0 4px 0 24px
}

.l-btn-icon-left .l-btn-icon {
	left: 4px
}

.l-btn-icon-right .l-btn-text {
	margin: 0 24px 0 4px
}

.l-btn-icon-right .l-btn-icon {
	right: 4px
}

.l-btn-icon-top .l-btn-text {
	margin: 20px 4px 0 4px
}

.l-btn-icon-top .l-btn-icon {
	top: 4px;
	left: 50%;
	margin: 0 0 0 -8px
}

.l-btn-icon-bottom .l-btn-text {
	margin: 0 4px 20px 4px
}

.l-btn-icon-bottom .l-btn-icon {
	top: auto;
	bottom: 4px;
	left: 50%;
	margin: 0 0 0 -8px
}

.l-btn-left .l-btn-empty {
	margin: 0 4px;
	width: 16px
}

.l-btn-focus {
	outline: #00f dotted thin
}

.l-btn {
	color: #444;
	background: #f5f5f5;
	background-repeat: repeat-x;
	border: 1px solid #bbb;
	background: -webkit-linear-gradient(top, #fff 0, #e6e6e6 100%);
	background: -moz-linear-gradient(top, #fff 0, #e6e6e6 100%);
	background: -o-linear-gradient(top, #fff 0, #e6e6e6 100%);
	background: linear-gradient(to bottom, #fff 0, #e6e6e6 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,
		endColorstr=#e6e6e6, GradientType=0);
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px
}

.l-btn:hover {
	background: #e6e6e6;
	color: #00438a;
	border: 1px solid #ddd;
	filter: none
}

.l-btn-plain {
	background: transparent;
	border-width: 0;
	filter: none
}

.l-btn-outline {
	border-width: 1px;
	border-color: #ddd;
	padding: 0
}

.l-btn-plain:hover {
	background: #e6e6e6;
	color: #00438a;
	border: 1px solid #ddd
}

.l-btn-selected, .l-btn-selected:hover {
	background: #ddd;
	filter: none
}

.l-btn-plain-selected, .l-btn-plain-selected:hover {
	background: #ddd
}

.l-btn:hover .s-btn-downarrow, .s-btn-active .s-btn-downarrow,
	.s-btn-plain-active .s-btn-downarrow {
	border-style: solid;
	border-color: #bbb;
	border-width: 0 0 0 1px
}

.messager-body {
	padding: 10px;
	overflow: hidden
}

.messager-button {
	text-align: center;
	padding-top: 10px
}

.messager-button .l-btn {
	width: 70px
}

.messager-p-msg {
	margin-bottom: 5px
}

.messager-body .messager-input {
	width: 100%;
	padding: 1px 0;
	border: 1px solid #d4d4d4
}

.panel-header, .panel-body {
	border-color: #d3d3d3
}

.panel-header {
	background-color: #357ca5
}

.panel-body {
	background-color: #fff;
	color: #000;
	font-size: 12px
}

.panel-title {
	font-size: 14px;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	color: #1f433d;
	font-family: 'Microsoft Yahei'
}

.window, .window .window-body {
	border-color: #d3d3d3
}

.window {
	background-color: #f3f3f3;
	background: -webkit-linear-gradient(top, #f8f8f8 0, #eee 20%);
	background: -moz-linear-gradient(top, #f8f8f8 0, #eee 20%);
	background: -o-linear-gradient(top, #f8f8f8 0, #eee 20%);
	background: linear-gradient(to bottom, #f8f8f8 0, #eee 20%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F8F8F8,
		endColorstr=#eeeeee, GradientType=0)
}

.window-proxy {
	border: 1px dashed #d3d3d3
}

.window-proxy-mask, .window-mask {
	background: #ccc
}

.l-btn {
	color: #444;
	background: #fafafa;
	background-repeat: repeat-x;
	border: 1px solid #bbb;
	background: -webkit-linear-gradient(top, #fff 0, #eee 100%);
	background: -moz-linear-gradient(top, #fff 0, #eee 100%);
	background: -o-linear-gradient(top, #fff 0, #eee 100%);
	background: linear-gradient(to bottom, #fff 0, #eee 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,
		endColorstr=#eeeeee, GradientType=0);
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px
}

.l-btn:hover {
	background: #e2e2e2;
	color: #000;
	border: 1px solid #ccc;
	filter: none
}

.l-btn-plain {
	background: transparent;
	border: 0;
	filter: none
}

.l-btn-plain:hover {
	background: #e2e2e2;
	color: #000;
	border: 1px solid #ccc
}

.l-btn-selected, .l-btn-selected:hover {
	background: #ddd;
	filter: none
}

.l-btn-plain-selected, .l-btn-plain-selected:hover {
	background: #ddd
}

.panel.plain {
	overflow: visible
}

.panel-header-line {
	position: absolute;
	height: 2px;
	width: 100%;
	border-bottom: 2px solid #ddd;
	top: 3px;
	left: 0
}

.panel-header.plain {
	border: 0;
	background: 0;
	height: 5px;
	filter: none
}

.panel-title.plain {
	background: #fff;
	position: absolute;
	left: 15px;
	top: -2px;
	z-index: 2;
	padding-left: 25px;
	padding-right: 5px
}

.panel-tool.plain {
	left: 18px;
	top: 8px;
	z-index: 2;
	width: 18px;
	overflow: hidden
}

.panel-tool.plain a {
	width: 15px;
	height: 15px;
	overflow: hidden
}

.panel-body.plain {
	border: 0
}

body, html {
	width: 100%;
	height: 100%;
	overflow: hidden
}

a, body {
	color: #333
}

blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5,
	h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
	margin: 0;
	padding: 0
}

body {
	font: 12px/20px '微软雅黑'
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 12px
}

fieldset, img {
	border: 0
}

fieldset, img, input, select, textarea {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	outline: 0;
	font: 12px/20px '微软雅黑'
}

address, cite, dfn, em, i, var {
	font-style: normal
}

li {
	list-style: none
}

caption, th {
	text-align: left
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%
}

sup {
	vertical-align: text-top
}

sub {
	vertical-align: text-bottom
}

a {
	text-decoration: none
}

a:hover {
	color: #4a6d68
}

.loginBg {
	background: url(../css/login/1.jpg) center center no-repeat fixed;
	background-size: cover
}

.loginBox {
	width: 430px;
	left: 50%;
	top: 50%;
	position: absolute;
	margin-top: -170px;
	margin-left: -215px;
	background: #fff
}

.tableForm {
	position: relative;
	display: table;
	border-collapse: separate;
	margin-bottom: 25px
}

.tableForm label {
	display: table-cell;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-border-radius: 2px;
	padding: 6px 11px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
	background: #fafafa
}

.tableForm input.form-control {
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	font-size: 12px;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0;
	display: table-cell;
	padding: 10px 8px;
	height: auto
}

.tableForm span {
	font-weight: 100;
	font-size: 16px;
	vertical-align: middle;
	margin-left: 5px;
	margin-top: 2px
}

.form-control {
	border: 1px solid #131313;
	height: 38px;
	line-height: 38px;
	text-indent: .1em;
	width: 100%
}

.formSubmit {
	display: inline-block;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
	border-radius: 0;
	-webkit-border-radius: 0;
	outline: 0;
	margin-bottom: 5px !important;
	margin-left: 4px;
	font-size: 13px;
	padding: 7px 11px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12), 1px 1px 0
		rgba(255, 255, 255, 0.2) inset;
	background-color: #4d90fd;
	border-color: #3680bf;
	min-width: 70px
}

.footerLo {
	text-align: right;
	padding: 0 0 15px
}

.errorMessage {
	color: red
}

.loginHeadTitle {
	padding: 9px 20px;
	background: #3c8dbc;
	border-bottom: 1px solid #2082d5
}

.loginHeadTitle h3 {
	line-height: 35px;
	margin: 0;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	font-family: "Raleway", Helvetica, sans-serif;
	font-weight: 200;
	text-align: center;
	font-size: 24px
}

.loginContent {
	padding: 30px;
	padding-bottom: 5px
}

.loginContent .titleLo {
	margin: 5px 0 15px 0;
	font-weight: 300;
	line-height: 1.1;
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 20px
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=3.2.1');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.2.1')
		format('embedded-opentype'),
		url('../fonts/fontawesome-webfont.woff?v=3.2.1') format('woff'),
		url('../fonts/fontawesome-webfont.ttf?v=3.2.1') format('truetype'),
		url('../fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1')
		format('svg');
	font-weight: normal;
	font-style: normal
}

[class^="iconAws-"], [class*=" iconAws-"] {
	display: inline;
	width: auto;
	height: auto;
	line-height: normal;
	vertical-align: baseline;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat;
	margin-top: 0
}

[class^="iconAws-"], [class*=" iconAws-"] {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

[class^="iconAws-"]:before, [class*=" iconAws-"]:before {
	text-decoration: inherit;
	display: inline-block;
	speak: none
}

.iconAws-user:before {
	content: "\f007"
}

.iconAws-lock:before {
	content: "\f023"
}

.window, .window .window-body {
	border-color: #d3d3d3
}

.window {
	background: #3c8dbc;
	padding: 5px 0 0;
	border-radius: 5px
}

.window .window-header {
	background: #fff;
	padding: 10px
}

.window .window-header .panel-tool {
	right: 10px
}

.window .window-body, .window .panel-body {
	border-width: 0;
	border-color: #f4f4f4
}

.messager-body div:nth-child(2) {
	padding-left: 40px
}

.l-btn {
	background: #3c8dbc;
	border-color: #367fa9;
	border-radius: 3px;
	border: 1px solid transparent;
	font-size: 12px;
	color: #fff;
	padding: 3px 6px
}

.l-btn .l-btn-text {
	color: #fff
}

.l-btn-text {
	line-height: 20px !important
}

.l-btn:hover, .l-btn:active {
	background-color: #286090;
	border-color: #204d74;
	color: #fff
}

.datagrid-mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: .3;
	filter: alpha(opacity = 30);
	display: none;
	z-index: 99998;
	background: #ccc;
	border-color: #d3d3d3
}

.datagrid-mask-msg {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	padding: 12px 5px 10px 30px;
	width: auto;
	height: 16px;
	display: none;
	z-index: 99999;
	background: #fff url('images/loading.gif') no-repeat scroll 5px center
}