<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="callSettersOnNulls" value="true" />
	</settings>
	<plugins>
		<plugin interceptor="com.voting.db.interceptor.MybatisCutPageInterceptor">
			<property name="dataBaseType" value="mysql" />
			<property name="countSQLSuffix" value="CountSql" />
		</plugin>
	</plugins>
</configuration>
